<header>
    <p> Página <%= typeof pagina !== 'undefined' ? pagina : 'Home' %> </p>
    <nav>
        <a href="/">Logo</a>
    </nav>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li>Contact</li>
            <li>Products</li>
        </ul>
    </nav>
</header>